body {

    display: block;
    height: auto;
    width: 90%;
    margin: auto;


} 

nav {

display: block;
height: 90px;


}





a,button {


background-color: black;
color: aliceblue;
border: none;
text-decoration: none;
font-weight: 400;
font-size:18px;
margin-right: 35px;
border-right: 1px strong cornsilk;


}

a:hover,button:hover {

background-color:crimson;

}

button {

border-right: 1px solid white;


}



#introduccion {

    background-image: url('../img/fondo.png');
    box-shadow: 0px 0px 5px rgb(170, 170, 170);
    background-repeat: no-repeat;

}


#introduccion2 {

    display: flex;
    
    flex-wrap: nowrap;
    justify-content: center;
    row-gap: 20px;
   

}


#portada {
    height: 50px;
    width: auto;
}

#ima {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}


#ima div {
    display: flex;
    gap: 15px;
}


#ima img {
    height: 40px;
    width: auto;
}


#subtitulos {

    background-color: black;
    color: aliceblue;
    display: flex;
    border-bottom: 15px solid red;

} 

#animal img {

display: block;
margin: auto;
height: 300px;
width: auto;


}
